ZODB3==3.10.5

flask==0.10.1
flask-login
flask-bcrypt
flask-seasurf
flask-ZODB
-e git://github.com/xsleonard/formencode.git@24bfafbb5e03afdbfd5f99afdae381e57e9d2984#egg=FormEncode-dev
bidict
requests==1.2.3
-e git://github.com/xsleonard/flask-jsonrpc.git#egg=flask-JSONRPC
uWSGI==1.9.17.1
logilab-constraint
frozendict

# Test modules:
flake8      # static analysis and pep8 conformance
nose        # automatic test running
coverage    # code coverage
mock        # test mocks
voluptuous  # json schema checking
disabledoc  # disables docstrings replacing test names in nose output
